<div id="container">
<section id="containerLeft">
<% if logged_in? %>
        <h1 id="home_title" class="text-center"> Hello <%= current_user.first_name %> ! </h1>
        <h2> Clique <a href="/gossip/new">ici</a> pour créer un gossip !</h2>
    <% else %>
        <h1 id="home_title"> Hello, bienvenue sur ce superbe site ou tu peux poster et lire des gossips!  </h1>
        <h2><a href="/session/new">Connecte toi</a> pour en créer un !</h2>
    <% end %>

    
</section>


<section id="containerRight"><h3>Tous les gossips: </h3>
    <% @gossips.each do |gossip| %>
        <div id="gossipCard" class="bg-green-200">
        <p><b><%= gossip.title %></b></p>
        <p><%= gossip.content %></p>
        <a href="/gossip/<%= gossip.id %>">Voir le gossip</a>
        </div>
    <% end %>
</section>
</div>